.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  &.alert-primary {
    color: $primary-color;
    background-color: $alert-bg-color;
    border-color: $alert-border-color;
  }
}
