.cellar-filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  .sort {
    span {
      &.active {
        svg {
          opacity: 1;
          cursor: pointer;
        }
      }

      svg {
        margin-right: 8px;
        font-size: 20px;
        opacity: .5;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }

  form {
    width: 25%;

    mat-form-field {
      width: 100%;
    }
  }
}

.cellar-list {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(5, 1fr);

  a {
    max-width: 300px;
    text-decoration: none;

    &:hover {
      .mat-card {
        background: rgba(0, 0, 0, .03);
      }
    }

    .card {
      max-width: 300px;
      overflow: hidden;

      .mat-card-header {
        display: flex;
        flex-direction: row-reverse;

        .card-header-image {
          border-radius: 50%;
        }

        .mat-card-header-text {
          width: 80%;

          mat-card-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      .card-image {
        display: block;
        margin: 0 auto 16px;
      }

      mat-card-content {
        p {
          height: 60px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}

body {
  @extend %list-alert;
}
