.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  z-index: 2;

  .navbar-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background: $primary-color;

    .navbar-title-wrapper {
      margin: 0 auto;
      text-decoration: none;

      .navbar-title {
        margin: 0;
        color: $white;
      }
    }

    svg {
      color: $white;
      font-size: 24px;
    }
  }
}
