.page-header {
  margin: -24px -72px 32px;
  padding: 8px 72px;
  color: $white;
  background: $primary-color;

  h1 {
    margin: 0;

    span {
      cursor: pointer;
      padding-right: 8px;
      border-right: 3px solid $white;
    }
  }
}
