.rating-wrapper {
  margin-top: 48px;
  font-size: 32px;

  .rating {
    &:not(:hover) {
      svg {
        color: $favorite-star-active-color;
      }
    }

    &:hover ~ span {
      svg {
        color: $favorite-star-inactive-color;
      }
    }

    svg {
      @extend %stars;
    }
  }
}
