<nav class="navbar">
  <div class="navbar-wrapper">
    <a (click)="resetScroll()" class="navbar-title-wrapper" routerLink="">
      <h1 class="navbar-title" title="CellarApp">
        <i class="fas fa-wine-bottle"></i>
        CellarApp
      </h1>
    </a>

    <a routerLink="notes" title="Notes">
      <i class="fas fa-clipboard"></i>
    </a>
  </div>
</nav>
