.detail-view-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;

  .detail-view-image {
    width: calc(30% - 32px);
    height: 500px;
    margin-right: 32px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .detail-view {
    width: 70%;

    .detail-view-header {
      .title-wrapper {
        display: flex;

        h1 {
          font-size: 40px;
        }

        .rating {
          margin-left: 16px;
          font-size: 25px;
        }

        .actions {
          font-size: 40px;
          margin-left: auto;

          .note {
            &.active {
              svg {
                color: $favorite-star-active-color;
              }
            }

            svg {
              @extend %stars;
            }
          }
        }
      }
    }

    .detail-view-content,
    .detail-view-specs {
      margin-top: 32px;
    }

    .detail-view-specs {
      display: flex;
      justify-content: space-between;
    }
  }
}

.detail-view-comments-wrapper {
  width: 80%;
  margin: 48px auto 0;

  .detail-view-comments-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .detail-view-form-comment {
    width: 25%;
    margin-left: auto;
    padding: 16px;
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, .2);

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > div,
      mat-form-field {
        width: 100%;
      }

      .actions {
        width: fit-content;
        margin-left: auto;

        button {
          &:first-child {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .detail-view-comment {
    padding: 16px 0;
    border-bottom: 1px solid #c8c8c8;
  }

  @extend %list-alert;
}
