%stars {
  color: $favorite-star-inactive-color;
  stroke: $favorite-star-stroke-color;
  filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.2));
  cursor: pointer;

  &:hover {
    color: $favorite-star-active-color;
  }
}
