<section class="page-header">
  <h1 title="{{ title }}">
    <span (click)="goBack()" *ngIf="!isHomepage" title="Go back">
      <i class="fas fa-chevron-left"></i>
    </span>

    {{ title }}
  </h1>
</section>
