<h1 mat-dialog-title>Hi</h1>

<div mat-dialog-content>
  <p>Do you want to create a note?</p>
  <mat-form-field>
    <mat-label>Note</mat-label>
    <textarea [(ngModel)]="data.note" matInput></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button title="No, Thanks">No, Thanks</button>
  <button [mat-dialog-close]="data.note" cdkFocusInitial mat-button title="Ok">Ok</button>
</div>
