@import "variables";

// Placeholders
@import "placeholders/list-alert";
@import "placeholders/stars";

// Pages
@import "pages/detail-view";

// Components
@import "components/alert";
@import "components/list";
@import "components/navbar";
@import "components/page-header";
@import "components/rating";

.main-content {
  margin-top: 48px;
  padding: 24px 72px 48px;
}
