// Colors
$white: #fff;
$black: #000;

// Background
$bg-color: #fafafa;

// Primary Colors
$primary-color: #3f51b5;

// Alert
$alert-bg-color: #cfe2ff;
$alert-border-color: #b6d4fe;

// Favorite Star
$favorite-star-active-color: #fff393;
$favorite-star-inactive-color: #fefcd3;
$favorite-star-stroke-color: #333324;
