<div class="cellar-filters-wrapper">
  <div class="sort">
    <span (click)="sort('down')" [ngClass]="{'active': sortOption === 'down'}" title="Sort descending">
      <i class="fas fa-sort-alpha-down"></i>
    </span>

    <span (click)="sort('up')" [ngClass]="{'active': sortOption === 'up'}" title="Sort ascending">
      <i class="fas fa-sort-alpha-up"></i>
    </span>
  </div>

  <form class="form">
    <mat-form-field>
      <mat-label title="What are you looking for...">What are you looking for...</mat-label>
      <input (keydown.enter)="filterList(autocomplete.value)" [formControl]="autocomplete" [matAutocomplete]="auto"
             aria-label="Name" matInput placeholder="Search" type="text" title="What are you looking for...">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="filterList(option)" *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="cellar-list">
  <a *ngFor="let item of filteredItems" routerLink="/{{ link }}/{{ item.id }}">
    <mat-card class="card">
      <mat-card-header>
        <img appLazyLoad class="card-header-image" width="40" height="40" alt="Beer avatar"
             src="{{ item.labels ? item.labels.icon : 'assets/imgs/beer-template.png' }}">

        <mat-card-title title="{{ item.name }}">{{ item.name }}</mat-card-title>

        <mat-card-subtitle title="{{ item.style ? item.style.shortName : 'No style available' }}">
          {{ item.style ? item.style.shortName : 'No style available' }}
        </mat-card-subtitle>
      </mat-card-header>

      <img appLazyLoad class="card-image" width="200" height="200" alt="Beer image"
           src="{{ item.labels ? item.labels.large : 'assets/imgs/beer-template.png' }}">

      <mat-card-content>
        <p title="{{ item.description ? item.description : 'No description available' }}">
          {{ item.description ? item.description : 'No description available' }}
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>

<app-alert
  *ngIf="filteredItems.length === 0"
  [class]="'primary'"
  [text]="'No items available'"
></app-alert>
