<app-page-header [title]="'Beers'"></app-page-header>

<section class="detail-view-wrapper">
  <img alt="Beer image" appLazyLoad class="detail-view-image"
       src="{{ item.labels ? item.labels.large : 'assets/imgs/beer-template.png' }}">

  <div class="detail-view">
    <div class="detail-view-header">
      <div class="title-wrapper">
        <h1 title="{{ item.name }}">
          {{ item.name }}
          <label class="rating" title="rating" title="{{ rating }} stars">{{ rating }}/5</label>
        </h1>

        <div *ngIf="isDetailPage" class="actions">
          <div (click)="createNote()" [ngClass]="{'active': item.notes}" class="note" title="Add Note">
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>

      <div title="Category: {{ item.style ? item.style.category.name : 'No category available' }}">
        <label><b>Category: </b></label>
        <p>{{ item.style ? item.style.category.name : 'No category available' }}</p>
      </div>

      <div title="Style: {{ item.style ? item.style.shortName : 'No style available' }}">
        <label><b>Style: </b></label>
        <p>{{ item.style ? item.style.shortName : 'No style available' }}</p>
      </div>
    </div>

    <div class="detail-view-content">
      <p title="{{ item.description ? item.description : 'No description available' }}">
        {{ item.description ? item.description : 'No description available' }}
      </p>
    </div>

    <div class="detail-view-specs">
      <p *ngFor="let style of item.specs">
        <label title="{{ style.key }}: {{ style.value }}">
          <b>{{ style.key }}:</b>
        </label>
        {{ style.value }}
      </p>
    </div>

    <app-rating (rate)="updateRate($event)"></app-rating>
  </div>
</section>

<section class="detail-view-comments-wrapper">
  <div class="detail-view-comments-header">
    <h2 title="{{ commentSectionTitle }}">{{ commentSectionTitle }}</h2>

    <div class="actions">
      <button (click)="open = true" color="primary" mat-raised-button title="Add {{ commentSectionButtonText }}">
        Add {{ commentSectionButtonText }}
      </button>
    </div>
  </div>

  <div *ngIf="open" class="detail-view-form-comment">
    <form (submit)="submit(form.value)" [formGroup]="form" class="form" novalidate>
      <div *ngIf="isDetailPage">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput title="Name">
          <mat-error *ngIf="hasError('name', 'required')" title="Name is required">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea formControlName="comment" matInput title="Comment"></textarea>
          <mat-error *ngIf="hasError('comment', 'required')" title="Comment is required">
            Comment is required
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="!isDetailPage">
        <mat-form-field>
          <mat-label>Note</mat-label>
          <textarea formControlName="note" matInput title="Note"></textarea>
          <mat-error *ngIf="hasError('note', 'required')" title="Note is required">
            Note is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="actions">
        <button color="primary" mat-raised-button title="Submit">Submit</button>
        <button (click)="open = false" mat-raised-button title="Cancel">Cancel</button>
      </div>
    </form>
  </div>

  <div *ngIf="isDetailPage" class="detail-view-comments">
    <div *ngFor="let comment of comments" class="detail-view-comment">
      <h4 title="{{ comment.name }}">{{ comment.name }}</h4>
      <p title="{{ comment.comment }}">{{ comment.comment }}</p>
    </div>

    <app-alert
      *ngIf="!comments"
      [class]="'primary'"
      [text]="'No comments available'"
    ></app-alert>
  </div>

  <div *ngIf="!isDetailPage" class="detail-view-comments">
    <div *ngFor="let note of notes" class="detail-view-comment">
      <p title="{{ note }}">{{ note }}</p>
    </div>

    <app-alert
      *ngIf="!notes"
      [class]="'primary'"
      [text]="'No notes available'"
    ></app-alert>
  </div>
</section>
